body,
html {
  width: 100%;
  height: 100%; }
  @media (max-width: 480px) {
    body,
    html {
      font-size: 14px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    body,
    html {
      font-size: 14px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body,
    html {
      font-size: 15px; } }
  @media (min-width: 992px) {
    body,
    html {
      font-size: 16px; } }

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #0c5460; }

hr.light {
  border-color: white; }

a {
  color: #0c5460;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #0c5460; }

a.softlink {
  font-weight: bold;
  color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px; }

.bg-primary {
  background-color: #0c5460 !important; }

.bg-dark {
  color: white;
  background-color: #222222 !important; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 100px 0; }

section.bg-primary {
  color: white; }
  section.bg-primary a {
    color: white !important; }
  section.bg-primary strong {
    color: white; }

section.bg-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d4f0f5), to(#fff)) !important;
    background-image-background-image: -webkit-linear-gradient(top, #d4f0f5 0, #FFF 100%) !important;
    background-image-background-image: -o-linear-gradient(top, #d4f0f5 0, #fff 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #d4f0f5 0, #fff 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #d4f0f5 0, #fff 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4f0f5 ', endColorstr='#fff', GradientType=0) !important; }

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: white;
  background: #222222;
  text-shadow: none; }

::selection {
  color: white;
  background: #222222;
  text-shadow: none; }

img::-moz-selection {
  color: white;
  background: transparent; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #222222; }

/* Headings */
@media (max-width: 480px) {
  .row h2,
  .container h2 {
    font-size: 1.5rem; }
  .row h3,
  .container h3 {
    font-size: 1.2em; } }

@media (min-width: 481px) and (max-width: 767px) {
  .row h2,
  .container h2 {
    font-size: 1.5rem; }
  .row h3,
  .container h3 {
    font-size: 1.2em; } }

@media (min-width: 768px) and (max-width: 991px) {
  .row h2,
  .container h2 {
    font-size: 1.7rem; }
  .row h3,
  .container h3 {
    font-size: 1.2em; } }

@media (min-width: 992px) {
  .row h2,
  .container h2 {
    font-size: 2rem; }
  .row h3,
  .container h3 {
    font-size: 1.2em; } }

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #0c5460;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #0c5460; }
  #mainNav .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      color: #0c5460; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #0c5460 !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: white; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.05);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          font-size: 16px;
          color: #0c5460; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #0c5460; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #0c5460; } }

header.masthead {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  background-image: url("../img/media-octava-2019.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center; }
    header.masthead .header-content .header-content-inner h1 {
      font-size: 3rem !important;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0; }
    header.masthead .header-content .header-content-inner h2 {
      font-size: 1.5rem; }
    header.masthead .header-content .header-content-inner hr {
      margin: 30px auto; }
    header.masthead .header-content .header-content-inner p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 50px;
      color: rgba(255, 255, 255, 0.7); }
    header.masthead .header-content .header-content-inner .bg-text {
      background-color: rgba(0, 0, 0, 0.57);
      padding: 0 5px 0 5px; }
  @media (min-width: 768px) {
    header.masthead {
      height: 100%;
      min-height: 600px; }
      header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.masthead .header-content .header-content-inner h1 {
            font-size: 50px; }
          header.masthead .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto; } }
  @media (max-width: 480px) {
    header.masthead .header-content .header-content-inner img {
      width: 170px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    header.masthead .header-content .header-content-inner img {
      width: 250px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    header.masthead .header-content .header-content-inner img {
      width: 350px; } }
  @media (min-width: 992px) {
    header.masthead .header-content .header-content-inner img {
      width: 400px; } }

@media (max-width: 767px) {
  header.masthead {
    min-height: 92vh; }
    header.masthead .header-content {
      margin-top: 50px;
      min-height: 80vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.service-box {
  max-width: 400px;
  margin: 50px auto 0; }
  @media (min-width: 992px) {
    .service-box {
      margin: 20px auto 0; } }
  .service-box p {
    margin-bottom: 0; }

.call-to-action {
  padding: 50px 0; }
  .call-to-action h2 {
    margin: 0 auto 20px; }

.text-primary {
  color: #0c5460 !important; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  color: #222222;
  border-color: white;
  background-color: white; }
  .btn-default.focus, .btn-default:focus {
    color: #222222;
    border-color: #bfbfbf;
    background-color: #e6e6e6; }
  .btn-default:hover {
    color: #222222;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
  .btn-default.active, .btn-default:active,
  .open > .btn-default.dropdown-toggle {
    color: #222222;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
    .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
    .open > .btn-default.dropdown-toggle.focus,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle:hover {
      color: #222222;
      border-color: #bfbfbf;
      background-color: #d4d4d4; }
  .btn-default.active, .btn-default:active,
  .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover,
  fieldset[disabled] .btn-default.focus,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default:hover {
    border-color: white;
    background-color: white; }
  .btn-default .badge {
    color: white;
    background-color: #222222; }

.btn-primary {
  color: white;
  border-color: #0c5460;
  background-color: #0c5460; }
  .btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: black;
    background-color: #062c33; }
  .btn-primary:hover {
    color: white;
    border-color: #05242a;
    background-color: #062c33; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #05242a;
    background-color: #062c33; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle:hover {
      color: white;
      border-color: black;
      background-color: #021113; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    border-color: #0c5460;
    background-color: #0c5460; }
  .btn-primary .badge {
    color: #0c5460;
    background-color: white; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.btn-xl {
  padding: 15px 30px; }

#novedades img {
  border: 1px #222 solid;
  margin: 1px 15px 10px 1px;
  width: 210px;
  height: 210px;
  display: inline-block !important;
  vertical-align: top;
  float: left; }

#novedades h3 {
  text-align: left;
  font-weight: bold; }

#novedades p {
  text-align: left !important; }

#contact {
  padding-top: 1em;
  padding-bottom: 0.5em; }
  #contact .social {
    margin-top: 1em; }
  #contact .row i.fa {
    margin-bottom: 0.15em; }
  #contact div.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #contact .socialwrapper {
    min-width: 15vh;
    text-align: center; }

#abolicion {
  background-image: url("../img/la-abolicion-de-los-rascacielos-bn.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #abolicion img {
    border: 1px #222 solid;
    margin: 1px 15px 10px 1px;
    width: 210px;
    height: 210px;
    display: inline-block !important;
    vertical-align: top;
    float: left; }
  #abolicion h3 {
    text-align: left;
    font-weight: bold; }
  #abolicion p {
    text-align: left !important; }
  #abolicion .promo-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767px) {
      #abolicion .promo-content-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    #abolicion .promo-content-container img {
      -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
      height: auto; }
      @media (max-width: 767px) {
        #abolicion .promo-content-container img {
          width: 60vw; } }
      @media (min-width: 768px) and (max-width: 950px) {
        #abolicion .promo-content-container img {
          width: 35vw; } }
      @media (min-width: 951px) {
        #abolicion .promo-content-container img {
          width: 37vw; } }
    #abolicion .promo-content-container p {
      margin-bottom: 10px; }
    #abolicion .promo-content-container blockquote {
      font-style: italic; }
    #abolicion .promo-content-container .promo-img-container {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      text-align: center; }

#subabolicion {
  background-image: url("../img/la-abolicion-de-los-rascacielos-bn.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #subabolicion h3 {
    text-align: left;
    font-weight: bold; }
  #subabolicion div.button-wrapper button {
    margin: 0.5em auto 0.5em auto; }
